*.apk
*.ap_
*.dex
*.class
bin/
gen/
out/
.gradle/
build/
local.properties
Thumbs.db
.DS_Store
proguard/
*.log
.navigation/
*.iml
.idea
captures/
.gradle
build/
.navigation
captures/
output.json
*.iml
.idea/workspace.xml
.idea/libraries
*.jks
.externalNativeBuild
gen-external-apklibs
.idea/tasks.xml
.idea/dataSources.ids
.idea/dataSources.xml
.idea/dataSources.local.xml
.idea/sqlDataSources.xml
.idea/dynamic.xml
.idea/uiDesigner.xml
.idea/gradle.xml
.idea/mongoSettings.xml
*.iws
/out/
.idea_modules/
atlassian-ide-plugin.xml
com_crashlytics_export_strings.xml
crashlytics.properties
crashlytics-build.properties
fabric.properties
modules.xml
.idea/misc.xml 
*.ipr
.gradle
/build/
gradle-app.setting
!gradle-wrapper.jar
.gradletasknamecache
obj/
.externalNativeBuild
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.npm
.eslintcache
.node_repl_history
*.tgz
.yarn-integrity
.env
.env.test
.env.production
.cache
.parcel-cache
.next
out
.nuxt
dist
.cache/
.vuepress/dist
.serverless/
.fusebox/
.dynamodb/
*.csv
!data/seed/*.csv
**/temp/*.csv
**/export/*.csv
*.db
*.db-journal
*.sqlite
*.sqlite3
*.sqlite-journal
!tests/fixtures/*.db
dist/
build/